#dASaghwDa {
	height: 100%;
	width: 100%;
	display: block;
	letter-spacing: 1px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #999;
}

#dASaghwDa .card-header {
	display: block;
	height: 35px;
	border-bottom: 1px solid #eee;
}

#dASaghwDa .title {
	display: inline-block;
	padding-left: 10px;
	padding-top: 1px;
	margin-top: 6px;
	height: 100%;
	width: 90px;
	max-width: 90px;
	font-size: 10px;
	float: left;
	padding-top: 1px;
}

#dASaghwDa .chart,  #dASaghwDa svg{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 160px;
	width: 160px;
}