#dASaghwDa {
	height: 100%;
	width: 100%;
	display: block;
	letter-spacing: 1px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #999;
}

#dASaghwDa .card-header {
	display: block;
	height: 35px;
	border-bottom: 1px solid #eee;
}

#dASaghwDa #chart {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 225px;
	width: 225px;
}